<%- include("./includes/header") %>

    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="bg-dark py-3">
                    <h3 class="text-white text-center">Todo App</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="row">
                <form action="/todos" method="POST" class="d-flex justify-content-center align-center">
                    <input type="text" name="todo" id="todo" class="me-2 form-control" placeholder="Enter Todo" />
                    <button type="submit" class="btn btn-sm btn-dark"><i class="fas fa-plus fs-lg"></i></button>
                </form>
                <ul class="list-group mt-5">
                    <% todo.forEach(todo=> { %>
                        <li class="list-group-item text-white bg-dark d-flex justify-content-between align-center my-1">
                            <div class="d-flex align-self-center">
                                <input type="checkbox" id="todo-checkbox-<%= todo._id %>" onchange="toggleLineThrough(this)" class="me-3">
                                <label for="todo-checkbox-<%= todo._id %>" id="todo-label-<%= todo._id %>">
                                    <%= todo.todo %>
                                </label>
                            </div>
                            <div class="d-flex">
                                <form action="" method="POST">
                                    <button type="submit" class="btn btn-sm text-white"><i class="fas fa-edit"></i></button>
                                </form>
                                <form action="/todos/<%= todo._id %>" method="POST">
                                    <button type="submit" class="btn btn-sm text-danger"><i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </div>
        </div>
    </div>

    <%- include("./includes/footer") %>